---
layout: default
---

<div class="home-header">
  <p>
    I put here some thoughts about code and life.
  </p>
  <p class="social-links">
    <a href="mailto:adran@hey.com" target="_blank">email</a> /
    <a href="https://www.linkedin.com/in/adrancarnavale/" target="_blank" rel="noopener noreferrer">linkedin</a> /
    <a href="http://github.com/crnvl96" target="_blank" rel="noopener noreferrer">github</a>
  </p>
</div>

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <a class="post-card" href="{{ post.url | relative_url }}">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <div class="post-link">{{ post.title }}</div>
      <div class="post-excerpt">
        <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
